@{
    Layout = "_ConfigurePlugin";
}

<div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary" asp-action="CreateUo" asp-controller="Installation" asp-area="Admin">Create.UO</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary" asp-action="InstallWs1" asp-controller="Installation" asp-area="Admin">FIT.WS1</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary" asp-action="StoredProcedures" asp-controller="Installation" asp-area="Admin">Stored procedures</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary" asp-action="EventUDT" asp-controller="Installation" asp-area="Admin">Event UDT</a>
    </div>
</div>

<div class="message">
    @ViewBag.Response
</div>

<style>
    
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
    
    .message{
    width: 650px;
    }
</style>