@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="Queues" asp-area="Admin"> Queues</a>
<br/>
<a asp-action="Index" asp-controller="Logs" asp-area="Admin"> Logs</a>
<br/>
<a asp-action="Index" asp-controller="Settings" asp-area="Admin"> Settings</a>
<br/>
<a asp-action="Index" asp-controller="Installation" asp-area="Admin"> Installations</a>
<br/>
<a asp-action="Index" asp-controller="Synchronization" asp-area="Admin"> Synchronization</a>
