@model Nop.Plugins.FocusPoint.SLSyncPortal.Models.ReSyncObject

@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>


<style>
    .spinner-border {
      width: 1.5rem;
      height: 1.5rem;
      border-width: 0.2em;
    }
    
    .syncBtn {
      display: inline-flex;
      align-items: center;
    }
    
    .d-none {
      display: none !important; 
    }
</style>
<link rel="stylesheet" href="~/Plugins/FocusPoint.SLSyncPortal/Styles/toastr.min.css"/>
<link rel="stylesheet" href="~/Plugins/FocusPoint.SLSyncPortal/Styles/spinner.css"/>

<div class="d-flex">
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn" id="FullItemSync">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Full item sync
        </button>
    </div>
    <div style="padding: 5px">
   
        <button type="button" class="btn btn-primary syncBtn" id="FullBPSync">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Full BP Sync
        </button>
    </div>
</div>

<div class="d-flex">
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn" id="InventorySync">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Inventory sync
        </button>
    </div>
    <div style="padding: 5px">
        
        <button type="button" class="btn btn-primary syncBtn" id="InventoryDeltaSync">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" 
                          aria-hidden="true" style="display: none;     margin-right: 8px;"></span>
            Inventory Delta sync
        </button>
    </div>
</div>

<div>
    <h4>ReSync object form</h4>
    <form asp-action="ReSyncObject" method="post" id="reSycnForm" class="d-flex">
        <div class="d-flex">
                   <div class="d-flex">
                       <label style="margin-top: 5px;margin-right: 5px;">Object</label>
                       <input type="text" asp-for="Object" class="form-control"/>
                   </div>
                   <div class="d-flex">
                       <label style="margin: 5px">Code</label>
                       <input type="text" asp-for="Code" class="form-control"/>
                   </div>
                       <button type="submit" class="btn btn-primary f-btn" style="margin-left: 9px;">Sync</button>
        </div>


    </form>
</div>


<div class="message" id="message">
</div>

<style>
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
    
    
    .d-flex{
        display: flex;
    }
    
    .syncBtn{
    width: 300px;
    }
    
    .f-btn{
    width: 150px;
    }
    
    .spinner-border-sm {
        width: 1rem;
        height: 1rem;
        border-width: 0.2em;
    }
    
    .spinner-border {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: .75s linear infinite spinner-border;
        animation: .75s linear infinite spinner-border;
    }
</style>


<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/toastr.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/notification.js"></script>
<script>
    $(document).ready(function () {
        handleButtonClick('FullItemSync', '@Url.Action("FullItemSync", "Synchronization")');
        handleButtonClick('FullBPSync', '@Url.Action("FullBPSync", "Synchronization")');
        handleButtonClick('InventorySync', '@Url.Action("InventorySync", "Synchronization")');
        handleButtonClick('InventoryDeltaSync', '@Url.Action("InventoryDeltaSync", "Synchronization")');
        


    });


    $('#reSycnForm').submit(function (e) {
        e.preventDefault(); 
        clearMessage();
        let form = $(this);
        console.log(form.serialize);
        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: form.serialize(),
            success: function (result) {
                toastr.success('Action completed successfully.');
            },
            error: function (xhr, status, error) {
               $("#message").text(error.responseText);
               toastr.error('Action failed.');
            }
        });
    });

   function handleButtonClick(buttonId, actionUrl) {
       let button = $('#' + buttonId);

      clearMessage();
       
       button.click(function() {
           button.prop('disabled', true);

           $(this).find('.btn-spinner').show();

           $.ajax({
               url: actionUrl,
               type: 'GET',
               dataType: 'html',
               success: function(result) {
                   toastr.success('Action completed successfully.');
               },
               error: function(xhr, status, error) {
                   toastr.error('Action failed.');
               },
               complete: function() {
                   button.prop('disabled', false);
                   button.find('.btn-spinner').hide();
               }
           });
       });
   }

   function clearMessage() { 
       $('#message').text('');
   }
</script>