
@{
    Layout = "_ConfigurePlugin";
}

<div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary">Full item sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary">Full BP Sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary">Inventory sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary">Inventory Delta sync</button>
    </div>

</div>


<style>
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
</style>