@model Nop.Plugins.FocusPoint.SLSyncPortal.Models.ReSyncObject

@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>


<div class="d-flex">
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn"   id="FullItemSync">Full item sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn"   id="FullBPSync">Full BP Sync</button>
    </div>
    
</div>

<div class="d-flex">
<div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn"   id="InventorySync">Inventory sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary syncBtn"   id="InventoryDeltaSync">Inventory Delta sync</button>
    </div>

</div>

<div>
    <h4>ReSync object form</h4>
    <form asp-action="ReSyncObject" method="post" id="reSycnForm" class="d-flex">
        <div class="d-flex">
                   <div class="d-flex">
                       <label style="margin-top: 5px;margin-right: 5px;">Object</label>
                       <input type="text" asp-for="Object" class="form-control"/>
                   </div>
                   <div class="d-flex">
                       <label style="margin: 5px">Code</label>
                       <input type="text" asp-for="Code" class="form-control"/>
                   </div>
                       <button type="submit" class="btn btn-primary f-btn" style="margin-left: 9px;">Sync</button>
        </div>


    </form>
</div>


<div class="message" id="message">
</div>

<style>
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
    
    
    .d-flex{
        display: flex;
    }
    
    .syncBtn{
    width: 300px;
    }
    
    .f-btn{
    width: 150px;
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/notification.js"></script>
<script>
    $(document).ready(function () {
        handleButtonClick('FullItemSync', '@Url.Action("FullItemSync", "Synchronization")');
        handleButtonClick('FullBPSync', '@Url.Action("FullBPSync", "Synchronization")');
        handleButtonClick('InventorySync', '@Url.Action("InventorySync", "Synchronization")');
        handleButtonClick('InventoryDeltaSync', '@Url.Action("InventoryDeltaSync", "Synchronization")');
        


    });


    $('#reSycnForm').submit(function (e) {
        e.preventDefault(); // prevent default form submission behavior
        let form = $(this);
        console.log(form.serialize);
        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: form.serialize(),
            success: function (result) {
                $("#message").text(result);
                toastr.success('Action completed successfully.');
            },
            error: function (xhr, status, error) {
                toastr.error('Action failed.');
            }
        });
    });

   function handleButtonClick(buttonId, actionUrl) {
       $('#message').text('');
       $('#' + buttonId).click(function() {
           $.ajax({
               url: actionUrl,
               type: 'GET',
               dataType: 'html',
               success: function(result) {
                     $("#message").text(result);
                   toastr.success('Action completed successfully.');
               },
               error: function(xhr, status, error) {
                   toastr.error('Action failed.');
               }
           });
       });
   }
</script>