
@{
    Layout = "_ConfigurePlugin";
}

<div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary" asp-action="FullItemSync" asp-controller="Synchronization" asp-area="Admin">Full item sync</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary"  asp-action="FullBPSync" asp-controller="Synchronization" asp-area="Admin">Full BP Sync</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary"  asp-action="InventorySync" asp-controller="Synchronization" asp-area="Admin">Inventory sync</a>
    </div>
    <div style="padding: 5px">
        <a type="button" class="btn btn-primary"  asp-action="InventoryDeltaSync" asp-controller="Synchronization" asp-area="Admin">Inventory Delta sync</a>
    </div>

</div>

<div class="message">
    @ViewBag.Response
</div>

<style>
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
</style>