@model Nop.Plugins.FocusPoint.SLSyncPortal.Models.ReSyncObject

@{
    Layout = "_ConfigurePlugin";
}

<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>

<div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary"  id="FullItemSync">Full item sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary"  id="FullBPSync">Full BP Sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary"   id="InventorySync">Inventory sync</button>
    </div>
    <div style="padding: 5px">
        <button type="button" class="btn btn-primary"   id="InventoryDeltaSync">Inventory Delta sync</button>
    </div>

</div>

<div>
    <p>ReSync object form</p>
    <form asp-action="ReSyncObject" method="post" id="reSycnForm">
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="Object">Object</label>
            </div>
            <div class="col-md-9">
                <input type="text" asp-for="Object" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label asp-for="Code">Code</label>
            </div>
            <div class="col-md-9">
                <input type="text" asp-for="Code" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>


<div class="message" id="message">
</div>

<style>
    button{
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    }
</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/Plugins/FocusPoint.SLSyncPortal/Scripts/notification.js"></script>
<script>
    $(document).ready(function () {
        handleButtonClick('FullItemSync', '@Url.Action("FullItemSync", "Synchronization")');
        handleButtonClick('FullBPSync', '@Url.Action("FullBPSync", "Synchronization")');
        handleButtonClick('InventorySync', '@Url.Action("InventorySync", "Synchronization")');
        handleButtonClick('InventoryDeltaSync', '@Url.Action("InventoryDeltaSync", "Synchronization")');
        


    });


    $('#reSycnForm').submit(function (e) {
        e.preventDefault(); // prevent default form submission behavior
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: 'Post',
            data: form.serialize(),
            success: function (result) {

                toastr.success('Action completed successfully.');
            },
            error: function (xhr, status, error) {
                toastr.error('Action failed.');
            }
        });
    });

   function handleButtonClick(buttonId, actionUrl) {
       $('#message').text('');
       $('#' + buttonId).click(function() {
           $.ajax({
               url: actionUrl,
               type: 'GET',
               dataType: 'html',
               success: function(result) {
                     $("#message").text(result);
                   toastr.success('Action completed successfully.');
               },
               error: function(xhr, status, error) {
                   toastr.error('Action failed.');
               }
           });
       });
   }
</script>