@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@model IList<string>


@{
    Layout = "_ConfigurePlugin";
}
<a asp-action="Index" asp-controller="SLSyncPortal" asp-area="Admin">Back to plugin menu</a>


@if (Model != null && Model.Any())
{
    <div class="box">
        @foreach (var item in Model)
        {
            <p>@item</p>
        } 
    </div>
}


<style>
   .box{
            background-color: #fdfdfdc4;
            border: 1px solid #ababab;
            padding: 15px;
            overflow-y: auto;
            height: 550px;
            overflow-y: scroll;;
    }
</style>